@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Ubuntu&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  background-color: #242943;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: black;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 0.2em;
  font-family: "Fira Sans", sans-serif;
  color: cornflowerblue;
}

.colorBlue {
  color: cornflowerblue;
  margin-left: 2em;
  font-size: 1.2em;
  animation: spanrotate 3s linear infinite;
}

@keyframes spanrotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.games {
  max-width: 1024px;
  height: 90vh;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.gameProps {
  width: 20rem;
  height: 15rem;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
